.header {
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 1030;
  width: 100%;
}
.navigate {
  position: fixed;
  top: 115px;
  width: 100%;
}
.nav-link {
  color: white !important;
  padding-left: 10px !important;
}

.nav-item {
  padding-right: 50px;
}

.container{
  margin-top: 200px;
}
