.nav-link {
    color: white !important;
    padding-left: 10px !important;
  }

  .nav-item {
    padding-right: 50px;
  }
  .header {
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 100%;
  }
  .navigate {
    position: fixed;
    top: 105px;
    width: 100%;
  }
  .container {
    margin-top: 200px;
  }
  #Title{
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
  }