.nav-link {
  color: white !important;
  padding-left: 10px !important;
}

.nav-item {
  padding-right: 50px;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
}
.navigate {
  position: fixed;
  top: 105px;
  width: 100%;
}
.wrap {
  width: 100%;
}

.floatleft {
  float: left;
  width: 30%;
  height: 250px;
  margin-top: 350px;
  padding-left: 30px;
}

.floatleft2 {
  float: left;
  background-color: #eee;
  height: auto;
  width: 60%;
  margin-top: 250px;
  border-style: inset;
  padding: 30px;
}
.floatleft3 {
  float: left;
  height: auto;
  width: 10%;
  margin-top: 350px;

  padding: 50px;
}
